@model BusinessObjects.SettingsInfo

<script type="text/javascript">

    function Save_Settings() {

        var dataarray = {
            "an_AlertText_GSTDate": ""
            , "an_AlertText_PaidMembership": ""
            , "an_isAllowedAlert_GSTDate": ""
            , "an_isAllowedAlert_PaidMembership": ""
            , "c_isAllowedMultyLanguage": ""
            , "InfoType": "P"
            , "mc_CurrencyList": ""
            , "mc_isAllowedMutyCurrency": ""
            , "OrganizationCode": $("#uiOrganisationName").val()
            , "p_BankAccountHolder": $("#uip_BankAccountHolder").val()
            , "p_BankAccountIBankName": $("#uip_BankAccountIBankName").val()
            , "p_BankAccountIBranchName": $("#uip_BankAccountIBranchName").val()
            , "p_BankAccountIFSCCode": $("#uip_BankAccountIFSCCode").val()
            , "p_BankAccountIMCRCode": $("#uip_BankAccountIMCRCode").val()
            , "p_BankAccountNumber": $("#uip_BankAccountNumber").val()
            , "p_isAllowedOnlinePayment": ($("#uip_isAllowedOnlinePayment").prop('checked') ? "Y" : "")
            , "p_PaypalAccountID": $("#uip_PaypalAccountID").val()
            , "CompanyName": ""
            , "Email": ""
            , "Mobile": ""
            , "Address": ""
            , "City": ""
            , "State": ""
            , "Country": ""
            , "Website": ""
            , "CIN": ""
            , "PAN": ""
            , "DefaultEmail": ""
            , "SMTP": ""
        }

        $("#loading").show();

        $.ajax({
            cache: false,
            type: "POST",
            url: "/settingssave",
            data: dataarray,
            success: function (data) {
                $("#loading").hide();
                if (data == "Ok") {
                    if (isDelete == "Y") {
                        alert("Data deleted");
                    } else {
                        alert("Data updated");
                    }

                    MakeAllControlsBlank();
                    CloseParentPopup();
                }
                else {
                    $("#loading").hide();
                    alert(data);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);

            }
        });
    }

    //$(document).ready(function () {});

</script>


<div class="portlet-body form">
    <input type="hidden" value="@Model.OrganizationCode" id="hdnOrganizationCode" />
    <div class="form-body">
        @if (Session["UserDetails"] != null && "M".Contains(((BusinessObjects.UserInfo)Session["UserDetails"]).UserType.ToString().Trim().ToUpper()))
        {
            <div class="form-group">
                <label class="control-label">Organizations</label>
                <select id="uiOrganisationName" class="bs-select form-control" data-live-search="true" data-size="8">@Html.Raw(HttpUtility.HtmlDecode(ViewBag.Organizations))</select>
                <div class="form-control-focus"> </div>
            </div>
        }

        <div class="form-group">
            <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                    Allow onine payment?&nbsp;&nbsp;<input type="checkbox" id="uip_isAllowedOnlinePayment" class="checkbox" @(Model.p_isAllowedOnlinePayment ? "checked=checked" : "") />
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Bank account number</label>
            <input placeholder="Corporate ID" id="uip_BankAccountNumber" value="@Model.p_BankAccountNumber" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name of holder</label>
            <input placeholder="Corporate ID" id="uip_BankAccountHolder" value="@Model.p_BankAccountHolder" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Bank name</label>
            <input placeholder="Corporate ID" id="uip_BankAccountIBankName" value="@Model.p_BankAccountIBankName" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Branch name</label>
            <input placeholder="Corporate ID" id="uip_BankAccountIBranchName" value="@Model.p_BankAccountIBranchName" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">IFSC Code</label>
            <input placeholder="Corporate ID" id="uip_BankAccountIFSCCode" value="@Model.p_BankAccountIFSCCode" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">MCR Code</label>
            <input placeholder="Corporate ID" id="uip_BankAccountIFSCCode" value="@Model.p_BankAccountIMCRCode" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Paypal account</label>
            <input placeholder="Corporate ID" id="uip_BankAccountIFSCCode" value="@Model.p_PaypalAccountID" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-actions">
            <input type="button" id="uiSaveBank" value="Submit" class="btn green-meadow" onclick="return Save_Settings();" />
        </div>
    </div>
</div>