@model BusinessObjects.TaxCountryMapInfo

<script type="text/javascript">

    function Save(isDelete) {

        var dataarray = {
            "isOnlyDelete": isDelete
        , "TaxDefinationID": $("#uiTaxes").val()
        , "CountryId": $("#uiCountry").val()
        , "ApplicableType": $("#uiApplicableType").val()
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: "/taxcountrysave",
            data: dataarray,
            success: function (data) {
                if (data == "Ok") {
                    if (isDelete == "Y") {
                        alert("Data deleted");
                    } else {
                        alert("Data updated");
                    }
                    MakeAllControlsBlank();
                    CloseParentPopup();
                }
                else {
                    alert(data);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);

            }
        });
    }
</script>


<div class="portlet-body form">
    <input type="hidden" value="@Model.TaxDefinationID" id="hdnTaxDefinationID" />
    <div class="form-body">
        <div class="form-group">
            <label class="control-label">Tax Name</label>
            <select id="uiTaxes" class="form-control">@(Html.Raw(HttpUtility.HtmlDecode(ViewBag.Taxes)))</select>
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Countries</label>
            <select id="uiCountry" class="form-control">@(Html.Raw(HttpUtility.HtmlDecode(ViewBag.Countries)))</select>
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Applicable Type</label>
            <select id="uiApplicableType" class="form-control">
                <option value="all" @(obj.ApplicableType == "all" ? "selected=\"selected\"" : "")>All</option>
                <option value="inter" @(obj.ApplicableType == "inter" ? "selected=\"selected\"" : "")>Outside State</option>
                <option value="intra" @(obj.ApplicableType == "intra" ? "selected=\"selected\"" : "")>Inside State</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-actions">
            <input type="button" id="uiSaveBank" value="Submit" class="btn green-meadow" onclick="return Save('');" />
            <input type="submit" id="uiDeleteBank" value="Delete" class="btn red-mint" onclick="return Save('Y');" />
            <input type="button" value="Close" class="btn yellow" onclick="closepopup();" />
        </div>
    </div>
</div>