@model BusinessObjects.TermsInfo


<script type="text/javascript">

    function Save_Terms(isDelete) {

        var dataarray = {
            "isDelete": isDelete
        , "isActive": ($("#chkIsActive").prop('checked') ? "Y" : "")
        , "TermsID": $("#hdnTermsID").val()
        , "Name": $("#txtName").val()
        , "DueInFixedNumberDays": $("#txtDueInFixedNumberDays").val()
        , "DueInCertainDayOfMonth": $("#txtDueInCertainDayOfMonth").val()
        , "DueInNextMonth": $("#txtDueInNextMonth").val()
        , "Discount": $("#txtDiscount").val()
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: "/termsave",
            data: dataarray,
            success: function (data) {
                if (isDelete == "Y") {
                    alert("Data deleted");
                } else {
                    alert("Data updated");
                }
                MakeAllControlsBlank();
                CloseParentPopup();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);

            }
        });
    }

    function MakeAllControlsBlank() {

        $('input[type="text"]').each(function () {
            $(this).val('');
        });

        $("#chkIsActive").attr('checked', true);
    }

    $(document).ready(function () {
        $("#txtDueInFixedNumberDays").keydown(function (e) { FilterKeys("I", e, $(this)); });
        $("#txtDueInCertainDayOfMonth").keydown(function (e) { FilterKeys("I", e, $(this)); });
        $("#txtDueInNextMonth").keydown(function (e) { FilterKeys("I", e, $(this)); });
        $("#txtDiscount").keydown(function (e) { FilterKeys("numeric", e, $(this)); });

        if (document.getElementById("uiOrganisationName") != null && document.getElementById("uiOrganisationName") != undefined) {
            BindOrganization($("#uiOrganisationName"), $("#hdnOrganizationCode").val());
        }
    });

</script>



<div class="portlet-body form">
    <input type="hidden" value="@Model.Id" id="hdnTermsID" />
    <input type="hidden" value="@Model.OrganizationCode" id="hdnOrganizationCode" />
    <div class="form-body">
        @if (Session["UserDetails"] != null && "M".Contains(((BusinessObjects.UserInfo)Session["UserDetails"]).UserType.ToString().Trim().ToUpper()))
        {
            <div class="form-group">
                <label class="control-label">Organizations</label>
                <select id="uiOrganisationName" class="bs-select form-control" data-live-search="true" data-size="8"></select>
                <div class="form-control-focus"> </div>
            </div>
        }
        <div class="form-group">
            <label class="control-label">Name</label>
            <input placeholder="Name" id="txtName" value="@Model.Name" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input placeholder="Days" id="txtDueInFixedNumberDays" value="@Model.DueInFixedNumberDays" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input placeholder="Days" id="txtDueInCertainDayOfMonth" value="@Model.DueInCertainDayOfMonth" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input placeholder="Days" id="txtDueInNextMonth" value="@Model.DueInNextMonth" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input placeholder="%" id="txtDiscount" value="@Model.Discount" class="form-control" type="text" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                    Is Active?&nbsp;&nbsp;<input type="checkbox" id="chkIsActive" checked="checked" class="checkbox" />
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" id="uiSaveTerms" value="Submit" class="btn green-meadow" onclick="return Save_Terms('');" />
        <input type="submit" id="uiDeleteTerms" value="Delete" class="btn red-mint" onclick="return Save_Terms('Y');" />
        <input type="button" value="Close" class="btn yellow" onclick="closepopup();" />
    </div>
</div>
